body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('./Images/Background.png'); 
  background-size: cover;
  background-position: center;
  
}


body {
  font-family: "Lucida Grande", -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}


